<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".notif.Notification"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".OptionalMessage"/>

        <activity android:name=".alert.ViewAlertActivity">
        </activity>
        <service android:name=".notif.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".alert.AlertActivity" />
        <!--<activity android:name=".adapter.RecyclerViewAdapter" />-->
        <activity android:name=".MessageDetailActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".alert.AnotherAlertActivity">

        </activity>
        <activity android:name=".alert.ViewAnotherAlertActivity" />
        <activity android:name=".notif.Main2Activity" />

        <receiver android:name=".notif.NotificationReceiver" />

        <activity android:name=".UsersActivity" />
        <activity android:name=".ViewReports" />
        <activity android:name=".ViewActivity"></activity>
        <activity android:name=".notif.Main3Activity"></activity>
    </application>

</manifest>